html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* make body fill viewport */
  display: flex;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */

  overflow: hidden;
}

canvas {
  display: block;
}
